{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/477b733705.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="{% static 'asserts/images/to-do-list.png' %}">
  <title>To-Do</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- nav bar -->
{% include 'Task/navbar.html' %}

<div class="container">
    <br>
    <!-- Notification message -->
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <p id="message-timer" class="alert alert-success float-end text-center message-text"> 
      <i class="fa fa-check" aria-hidden="true"></i> &nbsp; {{message}}
    </p>
    {% endif %}
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS and Popper.js (required for the responsive navbar) -->
<script src="{% static 'js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
